<!DOCTYPE html>
<html>
    <head>
        <title>Tax Calculator</title>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="dev.css">
        <link id="app-style" rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="navbar"></div>
        <div id="tax-form"></div>
        <!-- React Components -->
        <script src="NavBar.js"></script>
        <script src="TaxForm.js"></script>
        <!-- Bootstrap JS -->
        <script src="bootstrap.bundle.min.js"></script>
    </body>
</html>